<!DOCTYPE HTML>
<html>
<head>
    <title>弹幕测试</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='danmu/jquery.danmu.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            var danmuss = {
                1: [{"text": "hahahaha", "color": "red", "size": "0", "position": "0"},
                    {"text": "233333", "color": "red", "size": "0", "position": "0"}],
                3: [{"text": "poi", "color": "red", "size": "1", "position": "0"},
                    {"text": "2333", "color": "#FFFFFF", "size": "0", "position": "0"}],
                10: [{"text": "XXX真好", "color": "#FFFFFF", "size": "0", "position": "2"}]
            };
            // settings for the Danmu Player
            var options = {
                left: 0,
                top: 0,
                height: screen.height,
                width: screen.width,
                zindex: 100,
                speed: 20000,
                sumtime: 900,
                danmuss: danmuss,
                default_font_color: "#FFFFFF",
                font_size_small: 30,
                font_size_big: 50,
                opacity: "0.9",
                top_botton_danmu_time: 6000
            };


            $("#danmu").danmu(options);

            var danmuPlayer = $('#danmu');

            $('#danmu-start').click(function(){
               $("#danmu").danmu('danmu_start');});

            $('#danmu-go').click(function(){
                show_danmu(danmuPlayer,'heoolow');
            });  //todo

            $('#fullscreen').click(function(){
                document.getElementById('danmuholder').webkitRequestFullScreen();
            });

            function show_danmu(danmuPlayer,msg){
                var heig=danmuPlayer.height();
	            var row_conut=parseInt(heig/options.font_size_big);
                var row = parseInt(row_conut*Math.random());
                var top_local=(row)*options.font_size_big;

                var a_danmu="<div class='flying flying2' id='linshi'></div>";
                danmuPlayer.append(a_danmu);
                fly_tmp_name = "fly"+parseInt(heig*Math.random()).toString();

                $("#linshi").attr("id",fly_tmp_name);

                $("#"+fly_tmp_name).text(msg);
                $("#"+fly_tmp_name).css({"position":"absolute"
                                ,"top":top_local
                                ,"left":options.width,
                                "font-size":options.font_size_big
                                 });
                $("#"+fly_tmp_name).animate({left:-danmuPlayer.width()*3},options.speed
                    ,function(){$(this).remove();})
            }

            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('post danmu', function(msg) {
                console.log('received!');
                $('#board').append('<br>Received #'+ msg.data);
                var dm = { "text":msg['data'],
                           "color":"white",
                           "size":"1",
                           "position":"0",
                           "time": $('#danmu').data('nowtime')};
                show_danmu(danmuPlayer,msg.data);
            });
        });
    </script>
</head>
<body>
    <h1>弹幕测试</h1>
    <div id="board"></div>
    <h2 id="receive">Receive:</h2>
    <a class="btn btn-default" href="#" role="button" id="danmu-start">Start</a>
    <a class="btn btn-default" href="#" role="button" id="danmu-go">Go</a>
    <input id="fullscreen" type="button" value="Full Screen">
    <script type="text/javascript">

    </script>
    <div id="danmuholder"><div id="danmu"></div></div>
    <style>
        div#danmuholder {
            position: relative;
            background-color: black;
            height:100%;
            width:100%;

                }
        div#danmu{
            background-color: black;
        }
    </style>
</body>
</html>
