<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>叶串2015-发送弹幕</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form id="message" method="POST" action="#">
        <input type="text" name="message" id="message" placeholder="弹幕">
        <button class="btn btn-default" type="submit">Submit</button>
    </form>
</body>
</html>